In [1]:
import pandas as pd
from account import Account
from brokerage import Brokerage

# Account Class

In [2]:
accounts = {'linsu_binance': Account(10000, positions={'btc': [1, 65000], 'eth':[3, 4300]}),
            'linsu_coinbase': Account(10000, positions={'bnb': [10, 500], 'eth':[-1, 4700]})}

accounts['linsu_binance'].summary()
print('---')
accounts['linsu_coinbase'].summary()

Cash Balance: 10000
Asset Balance: 77900
Total Balance: 87900
Positions: {'btc': [1, 65000], 'eth': [3, 4300]}
---
Cash Balance: 10000
Asset Balance: 300
Total Balance: 10300
Positions: {'bnb': [10, 500], 'eth': [-1, 4700]}

In [3]:
# updates current price of BTC
accounts['linsu_binance'].update_position('btc', 0, 65000)

accounts['linsu_binance'].summary()
print('---')
accounts['linsu_coinbase'].summary()

Cash Balance: 10000
Asset Balance: 77900
Total Balance: 87900
Positions: {'btc': [1, 65000], 'eth': [3, 4300]}
---
Cash Balance: 10000
Asset Balance: 300
Total Balance: 10300
Positions: {'bnb': [10, 500], 'eth': [-1, 4700]}

In [4]:
# buys 1 BTC at 45000; simultaneously updates current price of BTC
accounts['linsu_binance'].update_position('btc', 1, 45000)

accounts['linsu_binance'].summary()
print('---')
accounts['linsu_coinbase'].summary()

Cash Balance: -35000
Asset Balance: 102900
Total Balance: 67900
Positions: {'btc': [2, 45000], 'eth': [3, 4300]}
---
Cash Balance: 10000
Asset Balance: 300
Total Balance: 10300
Positions: {'bnb': [10, 500], 'eth': [-1, 4700]}

In [5]:
# shorts 10000 CRO at .45; simultaneously updates current price of CRO
accounts['linsu_coinbase'].update_position('cro', -10000, .45)

accounts['linsu_binance'].summary()
print('---')
accounts['linsu_coinbase'].summary()

Cash Balance: -35000
Asset Balance: 102900
Total Balance: 67900
Positions: {'btc': [2, 45000], 'eth': [3, 4300]}
---
Cash Balance: 14500.0
Asset Balance: -4200.0
Total Balance: 10300.0
Positions: {'bnb': [10, 500], 'eth': [-1, 4700], 'cro': [-10000, 0.45]}

# Data

In [6]:
df_data = pd.read_csv('crypto_1m.csv')
df_data

,unix,btc,eth,ltc,neo,bnb,xrp,link,eos,trx,etc,xlm,zec,ada,qtum,dash,xmr,btt
0,1599856860000,10319.50,369.01,48.99,20.204,25.0378,0.24248,12.3551,2.7755,0.03377,5.1814,0.08330,62.53,0.09622,2.754,76.22,83.66,0.000365
1,1599856920000,10319.34,368.71,48.94,20.218,25.0609,0.24242,12.3454,2.7754,0.03377,5.1790,0.08328,62.52,0.09634,2.754,76.22,83.67,0.000365
2,1599856980000,10319.00,368.84,48.95,20.201,25.0642,0.24242,12.3508,2.7756,0.03380,5.1767,0.08328,62.49,0.09626,2.756,76.06,83.66,0.000366
3,1599857040000,10319.47,368.68,48.95,20.217,25.0797,0.24248,12.3549,2.7754,0.03378,5.1780,0.08337,62.50,0.09623,2.755,76.19,83.66,0.000365
4,1599857100000,10322.50,369.20,48.95,20.230,25.1176,0.24255,12.3583,2.7759,0.03381,5.1799,0.08339,62.50,0.09627,2.756,76.25,83.67,0.000365
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691870,1641693660000,41841.69,3116.86,130.20,23.430,432.2000,0.74890,25.8100,2.7910,0.06544,29.5800,0.25800,139.20,1.18600,7.643,142.80,186.20,0.002432
691871,1641693720000,41815.99,3115.48,130.20,23.410,431.9000,0.74830,25.8000,2.7900,0.06544,29.5100,0.25790,138.80,1.18500,7.635,142.70,185.90,0.002434
691872,1641693780000,41799.57,3113.13,130.10,23.390,431.7000,0.74780,25.7700,2.7880,0.06541,29.5100,0.25770,138.80,1.18300,7.627,142.60,186.00,0.002432
691873,1641693840000,41824.32,3114.99,130.20,23.390,432.1000,0.74850,25.7800,2.7900,0.06548,29.5300,0.25800,139.20,1.18500,7.634,143.30,186.10,0.002431
691874,1641693900000,41846.28,3116.89,130.20,23.430,432.4000,0.74910,25.8700,2.7930,0.06553,29.5700,0.25840,139.40,1.18700,7.637,143.80,186.30,0.002435

# Brokerage Class

In [7]:
accounts = {'linsu_binance': Account(10000, positions={'btc': [1, 65000], 'eth':[3, 4300]}),
            'linsu_coinbase': Account(10000, positions={'bnb': [10, 500], 'eth':[-1, 4700]})}
b = Brokerage(df_data, accounts)

b.accounts['linsu_binance'].summary()
print('---')
b.accounts['linsu_coinbase'].summary()

Cash Balance: 10000
Asset Balance: 77900
Total Balance: 87900
Positions: {'btc': [1, 65000], 'eth': [3, 4300]}
---
Cash Balance: 10000
Asset Balance: 300
Total Balance: 10300
Positions: {'bnb': [10, 500], 'eth': [-1, 4700]}

In [8]:
# next updates the prices of all assets in account and processes any orders if there exists any
next(b)

b.accounts['linsu_binance'].summary()
print('---')
b.accounts['linsu_coinbase'].summary()

Cash Balance: 10000.0
Asset Balance: 11426.53
Total Balance: 21426.53
Positions: {'btc': [1, 10319.5], 'eth': [3, 369.01]}
---
Cash Balance: 10000.0
Asset Balance: -118.63199999999998
Total Balance: 9881.368
Positions: {'bnb': [10, 25.0378], 'eth': [-1, 369.01]}

In [9]:
# market buy
b.add_order('linsu_binance', 'neo', '9fd8s0', 'market', -1)
next(b)

b.accounts['linsu_binance'].summary()
print('---')
b.accounts['linsu_coinbase'].summary()

Cash Balance: 10020.218
Asset Balance: 11405.251999999999
Total Balance: 21425.47
Positions: {'btc': [1, 10319.34], 'eth': [3, 368.71], 'neo': [-1, 20.218]}
---
Cash Balance: 10000.0
Asset Balance: -118.10099999999997
Total Balance: 9881.899
Positions: {'bnb': [10, 25.0609], 'eth': [-1, 368.71]}

In [10]:
# limit buy triggers since bnb price < limit buy price
b.add_order('linsu_binance', 'bnb', '9fd8s0fdsa', 'limit', 5, 30)
next(b)

b.accounts['linsu_binance'].summary()
print('---')
b.accounts['linsu_coinbase'].summary()

Cash Balance: 9894.897
Asset Balance: 11530.640000000001
Total Balance: 21425.537000000004
Positions: {'btc': [1, 10319.0], 'eth': [3, 368.84], 'neo': [-1, 20.201], 'bnb': [5, 25.0642]}
---
Cash Balance: 10000.0
Asset Balance: -118.19799999999998
Total Balance: 9881.802
Positions: {'bnb': [10, 25.0642], 'eth': [-1, 368.84]}

In [11]:
# limit buy fails to trigger since bnb price > limit buy price
b.add_order('linsu_binance', 'bnb', '9fd8s0fdsa', 'limit', 5, 20)
next(b)

b.accounts['linsu_binance'].summary()
print('---')
b.accounts['linsu_coinbase'].summary()

Cash Balance: 9894.897
Asset Balance: 11530.691499999997
Total Balance: 21425.588499999998
Positions: {'btc': [1, 10319.47], 'eth': [3, 368.68], 'neo': [-1, 20.217], 'bnb': [5, 25.0797]}
---
Cash Balance: 10000.0
Asset Balance: -117.88300000000001
Total Balance: 9882.117
Positions: {'bnb': [10, 25.0797], 'eth': [-1, 368.68]}